.banner_container {
    color: white;
    height: 50vh;
    font-family: 'Roboto', sans-serif;
}

.blue_btn {
    background-color: #578A8B;
    border: none;
    padding: 6px 16px;
    color: white;
    font-size: 19px;
    margin-top: 15px;
    
}

.banner_text {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 500px;
    text-align: center;
    font-size: 20px;
}

.h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #DB7533;
    font-weight: bold;
    font-size: 50px;
}

.recipe_container {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.recipe_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

/* Search */



input:focus {
    outline: none;
}

.search_bar svg {
    height: 80%;
}

.search_bar input {
    width: 100%;
    border-radius: 0 30px 30px 0;
    font-size: 20px;
}

input {
    height: 45px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent
}

.search_bar {
    min-width: 250px;
    width: 30vw;
    border-radius: 50px;
    border: none;
    background-color: #da773551;
    display: flex;
    align-items: center;
    padding: 0 0 0 5px;
    box-sizing: border-box;
}